{{#each this}}
  <li class='main-item animate__animated animate__flipInX' id={{id}}>
    {{!-- <img class='main-poster' src='{{images.2.url}}' alt='' /> --}}
    <div class='thumbnail'>
      <picture>
        <source
          srcset='{{imageUrlDesktop.url}}
        1x,
        {{imageUrlDesktop2x.url}}
        2x'
          media='(min-width: 1200px)'
          type='image/jpeg'
        />
        <source
          srcset='{{imageUrlTablet.url}}
        1x,
        {{imageUrlTablet2x.url}}
        2x'
          media='(min-width: 768px)'
          type='image/jpeg'
        />
        <source
          srcset='{{imageUrlMobile.url}}
        1x,
        {{imageUrlMobile2x.url}}
        2x'
        media='(max-width: 767px)'
        type='image/jpeg'
      />
      <img class='main-poster' src={{imageUrlDefault.url}} alt='event image' />
    </picture>
    <h2 class='main-name'>{{name}}</h2>
    <p class='main-date'> {{dates.start.localDate}}</p>
    <p class='main-location'><span
        class='material-icons material-icons--grid'
      >place</span>{{_embedded.venues.0.name}}</p>

  </li>
{{/each}}

{{! <svg>
        <use href='../images/icons/icons-sprite.svg/#location-card.svg'></use>
      </svg> }}
{{!-- {{el.images[0].url}} --}}