{{#each this}}
  <li class='main-item' id={{id}}>
    <img class='main-poster' src='{{images.2.url}}' alt='' />
    <h2 class='main-name'>{{name}}</h2>
    <p class='main-date'> {{dates.start.localDate}}</p>
    <p class='main-location'>{{_embedded.venues.0.name}}</p>

  </li>
{{/each}}

{{! <svg>
        <use href='../images/icons/icons-sprite.svg/#location-card.svg'></use>
      </svg> }}
{{!-- {{el.images[0].url}} --}}