<article>
    <div class="modal__circle-box">
        <picture>
            <img class="modal__img-circle" id="{{id}}" src="{{imgCircleUrl.url}}" alt="{{name}}" />
        </picture>
    </div>

    <div class="modal__card">
        <picture class="modal__img-big">
            <img class="modal__img-author" src="{{imgPosterUrl.url}}" alt="{{name}}" />
        </picture>

        <div class="modal__about">
            <div class="modal__text-box">
                <h2 class="modal__title">INFO</h2>
                <p class="modal__text">{{name}}</p>
            </div>

            <div class="modal__text-box">
                <h2 class="modal__title">WHEN</h2>
                <p class="modal__text modal__text--padding">{{dates.start.localDate}}</p>
                <p class="modal__text">{{newTime}} ({{_embedded.venues.0.timezone}})</p>
            </div>

            <div class="modal__text-box">
                <h2 class="modal__title">WHERE</h2>
                <p class="modal__text modal__text--padding">
                    {{_embedded.venues.0.city.name}},{{_embedded.venues.0.country.name}}</p>
                <p class="modal__text">{{_embedded.venues.0.name}}</p>
            </div>

            <div class="modal__text-box">
                <h2 class="modal__title">WHO</h2>
                <p class="modal__text">{{_embedded.attractions.0.name}}</p>
            </div>

        <h2 class="modal__title">PRICES</h2>
        <p class="modal__text">
            <svg class="modal__svg-barcode" width="24" height="16">
                <use href=""></use>
            </svg>
            Standart {{priceRanges.0.min}}-{{priceRanges.0.max}}{{priceRanges.0.currency}}
        </p>
        
        <a class="modal__btn-buy-box modal__btn--hover" href="{{url}}" target="_blank" rel="noopener noreferrer">
            <button class="modal__btn-buy" type="button">BUY TICKETS</button>
        </a>
        
        <p class="modal__text">
            <svg class="modal__svg-barcode" width="24" height="16">
                <use href=""></use>
            </svg>
            VIP {{priceRanges.1.min}}-{{priceRanges.0.max}} {{priceRanges.0.currency}}
        </p>
        
        <a class="modal__btn-buy-box  modal__btn--hover" href="{{url}}" target="_blank" rel="noopener noreferrer">
            <button class="modal__btn-buy" type="button">BUY TICKETS</button>
        </a>
        
        </div>
        </div>
        
        <a class="modal__btn-more-container modal__btn--hover">
            <button class="modal__btn-more modal__more-info-link" type="button">MORE FROM THIS AUTHOR</button>
        </a>
        </article>